<div class="link-wrapper">
    <style scoped>
    ul
    {
        list-style-type:none;
        padding: 0px;
        margin:0px;
        text-align: center;
    }
    li
    {
    display:inline;
        padding-left:15px;
    }   
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
      font-size: 20px;
      display: inline-block;
      transition: all 0.3s ease;
    }

      ul.link a:hover, ul.link a:focus {
        color: var(--clr-a-text-hvr);
        transform: scale(1.2);
        display: inline-block;
        transition: all 0.3s ease;
      }
    </style>
    <ul class="link">
      {%- for platform in site.sidebar %}
       <!--<li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>-->
       <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
      {%- endfor %}
    </ul>
  </div>